body{
    margin: 0;
    padding: 0;
    background-image: url(../public/image/background\ of\ wedding.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center top;

}
.mainHeading{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    height: 100px;
    box-shadow: 5px,5px,5px,5px,grey;
}